* {
    font-family: Helvetica, sans-serif;
    font-size: 42px;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-weight: 300;
    display: flex;

}

.title {
    font-size: 1.3rem;
    letter-spacing: -.02rem;
    font-weight: 500;
}

.left-side {
    height: 100vh;
    background-color: rgb(76, 106, 17);
    width: 50%;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 64px; */
}

.right-side {
    height: 100vh;
    width: 50%;
    background-color: rgb(239, 232, 216);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main-link {
    color: black;
    text-decoration: underline;
}

.main-link:hover {
    color:  rgb(239, 232, 216);

}

.note {
    font-size: 0.5rem;
}

/* Clocks */


.clock {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(76, 106, 17);
}

.clock:hover {
    background-color: rgb(239, 232, 216);
    border: rgb(76, 106, 17) 1px solid;
}

.clock:hover .hand {
    display: none;
}

.hand {
    background-color: rgb(239, 232, 216);

    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    /* Crucial for rotation around the bottom center */
    transform: translateX(-50%) rotate(0deg);
}

.hour {
    width: 2px;
    height: 30%;
    border-radius: 4px;
}

.minute {
    width: 2px;
    height: 45%;
    border-radius: 4px;
    rotate: 30deg;
}

