:root {
    --primary-color: #4c6a11;
    --secondary-color: #efe8d8;
    --text-color: #efe8d8;
}

* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-weight: 300;
    display: flex;

}

.title {
    /* font-size: 1.3rem; */
    letter-spacing: -.02rem;
    font-weight: 500;
}

.left-side {
    font-size: 3vw;
    font-size: clamp(1.6rem, 3vw, 3.6rem);
    height: 100vh;
    background-color: var(--primary-color);
    width: 50%;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 64px; */
}

.right-side {
    display: grid;
    padding: 21px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 2%;
    column-gap: 2%;
    height: 100vh;
    width: 50%;
    background-color: var(--secondary-color);
    overflow-y: scroll;
}

.main-link {
    color: black;
    text-decoration: underline;
}

.main-link:hover {
    color: rgb(239, 232, 216);

}

.note {
    font-size: 1.2rem;
}

/* Clocks */


.clock {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    /* background-color: rgba(76, 106, 17, 0.8); */
    background-color: var(--secondary-color);
    border: var(--primary-color) 2px solid;

}

.clock:hover {
    box-sizing: border-box;
    /* background-color: rgb(239, 232, 216); */
    background-color: var(--primary-color)
}

.clock:hover .hand {
    display: none;
}

.clock:hover .name {
    display: block;
}

.center {
    background-color: var(--primary-color);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-25%, 50%);
    border-radius: 50%;
    height: 10px;
    width: 10px;

}

.hand {
    background-color: var(--primary-color);
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom center;
    transform: translateX(-50%);
    border-radius: 10px;

    clip-path: polygon(
        20% 0%,    /* top-left */
        80% 0%,    /* top-right */
        100% 100%, /* bottom-right */
        0% 100%   /* bottom-left */
    );

}

.hour {
    width: 3px;
    height: 30%;
}

.minute {
    width: 2px;
    height: 45%;
    rotate: 30deg;
}

.name {
    color: var(--text-color);
    font-size: 1.2vw;
    display: none;
    font-weight: 500;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%) rotate(0deg);
}

/* Mobile */

@media screen and (width < 800px) {

    .right-side {
        display: none
    }

    .left-side {
        width: 100%;

    }
}