* {
    font-family: Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-weight: 300;
    display: flex;

}

.title {
    /* font-size: 1.3rem; */
    letter-spacing: -.02rem;
    font-weight: 500;
}

.left-side {
    font-size: 3vw;
    font-size: clamp(1.6rem, 3vw, 3.6rem);
    height: 100vh;
    background-color: rgb(76, 106, 17);
    width: 50%;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* gap: 64px; */
}

.right-side {
    display: grid;
    padding: 21px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    row-gap: 2%;
    column-gap: 2%;
    height: 100vh;
    width: 50%;
    background-color: rgb(239, 232, 216);
    overflow-y: scroll;
}

.main-link {
    color: black;
    text-decoration: underline;
}

.main-link:hover {
    color: rgb(239, 232, 216);

}

.note {
    font-size: 1.2rem;
}

/* Clocks */


.clock {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    /* background-color: rgba(76, 106, 17, 0.8); */
    background-color: rgb(239, 232, 216);
    border: rgba(76, 106, 17, 0.8) 2px solid;

}

.clock:hover {
    box-sizing: border-box;
    /* background-color: rgb(239, 232, 216); */
    background-color: rgb(76, 106, 17);

}

.clock:hover .hand {
    display: none;
}

.clock:hover .name {
    display: block;
}

.hand {
    background-color: rgba(76, 106, 17, 0.8) ;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom;
    /* Crucial for rotation around the bottom center */
    transform: translateX(-50%) rotate(0deg);
}

.hour {
    width: 2px;
    height: 30%;
    border-radius: 4px;
}

.minute {
    width: 2px;
    height: 45%;
    border-radius: 4px;
    rotate: 30deg;
}

.name {
    color:  rgb(239, 232, 216);
    font-size: 1.2vw;
    display: none;
    font-weight: 500;
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(50%) rotate(0deg);
}

/* Mobile */

@media screen and (width < 800px) {

    .right-side {
        display: none
    }

    .left-side {
        width: 100%;

    }
}